{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 1,
  "printWidth": 80,
  "useTabs": true,
  "quoteProps":"as-needed",
  "bracketSameLine": true,
  "arrowParens:": "always",
  "htmlWhitespaceSensitivity": "css"
}
