@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@layer components {
    .btn-primary {
        @apply transition-all duration-200 hover:scale-105 hover:bg-whiteone hover:text-greyone shadow-lg flex justify-start border w-[8rem] text-[1.2rem] font-medium text-whiteone bg-greyone rounded-full pl-2 active:scale-[0.98] active:bg-greytwo active:text-whitethree;
    }
    .left-tag{
        @apply text-greyone w-1/2 h-full flex justify-center p-1 text-xl rounded-tr-[15px] rounded-bl-[15px];
    }
    .right-tag{
        @apply text-greyone w-1/4 h-full flex justify-center p-1 text-xl rounded-tl-[15px] rounded-br-[15px];
    }
    .card{
        @apply border rounded-[15px]  w-[95%] my-4 flex flex-col active:scale-[0.95] shadow-xl transition-all cursor-pointer;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #CED4DA;
    border-bottom-right-radius: 15px;
    border-right: 20px;
    border-color: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-right-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}