@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@layer components {
	.btn-primary {
		@apply flex w-[8rem] cursor-pointer justify-start rounded-full border bg-greyone pl-2 text-[1.2rem] font-medium text-whiteone shadow-lg transition-all duration-200 hover:scale-105 hover:bg-whiteone hover:text-greyone active:scale-[0.98] active:bg-greytwo active:text-whitethree;
	}
	.left-tag {
		@apply flex h-full w-1/2 justify-center rounded-bl-[15px] rounded-tr-[15px] p-1 text-xl text-greyone;
	}
	.right-tag {
		@apply flex h-full w-1/4 justify-center rounded-br-[15px] rounded-tl-[15px] p-1 text-xl text-greyone;
	}
	.card {
		@apply my-4 flex w-[95%] cursor-pointer flex-col rounded-[15px] border shadow-xl transition-all active:scale-[0.95];
	}
	.input-s {
		@apply h-fit w-full rounded-md border bg-greyone p-2 text-whiteone;
	}
	.is-dragging {
		@apply scale-90 bg-whiteone opacity-50 shadow-2xl;
	}
	.addForm{
		@apply flex flex-row items-center mb-3 flex-wrap gap-2 bg-slate-400 p-2 rounded-md border border-greydark shadow-xl;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ced4da;
	border-bottom-right-radius: 15px;
	border-right: 20px;
	border-color: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-bottom-right-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
